:root {
    --background-color1: #3a3d40;
    --background-color2: #45567d;
    --background-color3: red;
}

.nav-bar {
    background-color: var(--background-color3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
}

main {
    margin-top: 50px;
}

.about-section {
    text-align: center;
    background-color: var(--background-color1);
}

.about-header h1 {
    font-weight: bold;
    margin-bottom: 0;
}

.about-header p {
    margin-top: 0;
}

.work-section {
    background-color: var(--background-color2);
}

.work-header h2 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

.work-panel {
    display: inline-block;
}

.work-link {
    display: inline-block;
    text-align: center;
    background-color: gray;
    text-decoration: none;
    padding-bottom: 10px;
}

    .work-link img {
        width: 350px;
        height: 300px;
        display: block;
    }

    .work-link:hover .code {
        color: orange;
    }

    .work-link p {
        display: inline;
    }

.code {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.contact-section {
    background-color: var(--background-color1)
}

.contact-header {
    text-align: center;
    color: white;
}

    .contact-header h3 {
        font-weight: bold;
        font-size: 24px;
    }

    .contact-header p {
        font-style: italic;
        margin: 0;
    }

@media (max-width : 400px) {
    .work-panel {
        display: block;
    }
}
